[Desktop Entry]
Version=1.1
Name=OSCAR
GenericName=CPAP Reporter
TryExec=OSCAR
Exec=OSCAR
Terminal=false
Icon=OSCAR
Type=Application
Categories=Education;Science;
StartupNotify=true
X-GNOME-UsesNotifications=true
StartupWMClass=OSCAR
