[Desktop Entry]
Type=Application
Exec=OSCAR
Name=OSCAR
GenericName=OpenSource CPAP Analysis Reporter
StartupNotify=true
Icon=OSCAR
Terminal=false
Categories=Science;MedicalSoftware;
